In [6]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier

In [2]:
data = pd.read_csv('titanic.csv')

In [21]:
data['is_male'] = data['Sex'].apply(lambda x: 1 if x=='male' else 0)

In [39]:
df = data[~data['Age'].isna()][['Pclass','Fare','Age','is_male','Survived']]

In [40]:
X, y = df[['Pclass','Fare','Age','is_male']], df['Survived']

In [34]:
clf = DecisionTreeClassifier(random_state=241)

In [41]:
clf.fit(X, y)

DecisionTreeClassifier(random_state=241)

In [42]:
importances = clf.feature_importances_

In [44]:
fi_data = dict(zip(X.columns,clf.feature_importances_))
fi_data = pd.DataFrame.from_dict(fi_data, orient='index', columns=['feature_importance'])

In [45]:
fi_data

         feature_importance
Pclass             0.140005
Fare               0.303436
Age                0.256046
is_male            0.300512