In [4]:
import numpy as np
import pandas as pd
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score, precision_recall_curve

In [5]:
classification = pd.read_csv('classification.csv')

In [6]:
classification

     true  pred
0       1     0
1       1     1
2       1     1
3       0     0
4       1     1
..    ...   ...
195     0     0
196     0     0
197     1     0
198     0     1
199     0     0

[200 rows x 2 columns]

In [8]:
TP = classification[(classification['true']==1)&(classification['pred']==1)]
FP = classification[(classification['true']==0)&(classification['pred']==1)]
FN = classification[(classification['true']==1)&(classification['pred']==0)]
TN = classification[(classification['true']==0)&(classification['pred']==0)]

In [13]:
print(len(TP), len(FP), len(FN), len(TN))

43 34 59 64

In [15]:
acc = accuracy_score(classification['true'], classification['pred'])
pr = precision_score(classification["true"], classification["pred"])
rec = recall_score(classification["true"], classification["pred"])
f1 = f1_score(classification["true"], classification["pred"])

In [65]:
print(f'{acc:.2f} {pr:.2f} {rec:.2f} {f1:.2f}')

0.54 0.56 0.42 0.48

In [20]:
scores = pd.read_csv('scores.csv')

In [21]:
scores

     true  score_logreg  score_svm  score_knn  score_tree
0       0      0.683832   0.145976   0.787063    0.500000
1       1      0.801966   0.239511   1.000000    0.833333
2       0      0.382315  -0.245701   0.000000    0.000000
3       1      0.506797  -0.137058   0.000000    0.105263
4       1      0.488781  -0.154148   0.000000    0.105263
..    ...           ...        ...        ...         ...
195     0      0.573801  -0.088203   0.284192    0.400000
196     0      0.624422  -0.012315   0.205437    0.400000
197     1      0.425538  -0.135673   0.382351    0.700000
198     0      0.905270   0.583806   1.000000    1.000000
199     0      0.275594  -0.422160   0.743567    0.642857

[200 rows x 5 columns]

In [23]:
logreg_score = roc_auc_score(scores['true'], scores['score_logreg'])
svm_score = roc_auc_score(scores['true'], scores['score_svm'])
knn_score = roc_auc_score(scores['true'], scores['score_knn'])
tree_score = roc_auc_score(scores['true'], scores['score_tree'])

In [24]:
print(logreg_score,svm_score,knn_score,tree_score)

0.719187675070028 0.7086834733893557 0.6351540616246498 0.6919267707082833

In [32]:
precision, recall, thresholds = precision_recall_curve(scores['true'], scores['score_logreg'])

In [56]:
pr_scores = []
for clf in scores.columns[1:]:
    pr_curve = precision_recall_curve(scores["true"], scores[clf])
    pr_scores.append(pr_curve[0][pr_curve[1] >= 0.7].max())

In [57]:
pr_scores

[0.6302521008403361,
 0.6228070175438597,
 0.6065573770491803,
 0.6517857142857143]

In [64]:
print(f'{scores.columns[1:][np.argmax(pr_scores)]}, {pr_scores[np.argmax(pr_scores)]:.2f}')

score_tree, 0.65